In [19]:
# Connection

import pandas as pd
from sqlalchemy import create_engine
import getpass

server = str(input("insert server: "))
database = str(input("insert database: "))

user_name = str(input("insert username: "))
password = getpass.getpass("insert password: ")

In [20]:
#Checks if the connection is successful or not
if __name__ == '__main__':
	try:
	
		#Creates the connection to the database
		engine = create_engine(f'mssql+pyodbc://{user_name}:{password}@{server}/{database}?driver=SQL+Server+Native+Client+11.0',fast_executemany=True)
		print(f"Connection to the {database} at {server} created successfully.")

	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection to the datavault at 172.29.4.147 created successfully.

In [21]:
## Query

sql = """
declare @StartDate int = 20221101
declare @EndDate int = 20221201

SELECT card_acceptor_term_id [Card Acceptor Terminal Id], 
    card_acceptor_name_loc [Card Acceptor Name Location], 
    pan [Pan], 
    datetime_tran_local [Datetime Tran Local], 
    sink_node_name [Sink Node Name],  
    from_account_id [From Account Id], 
    retrieval_reference_nr [Retrieval Reference Number],
    stan [STAN],
    amount_tran_final [Amount Tran Final]
FROM [dbo].[actual_atm_cash_successful] a
where udc_CreateDateKey >= @StartDate and udc_CreateDateKey <= @EndDate

"""

In [22]:
%%time
df = pd.read_sql(sql,engine, chunksize=1000000)

c = 1

for a in df:
    
    a.to_csv(f'Actual_atm_cash_successful_Nov_to_Dec_1st_{c}.csv',index=False)
    c = c + 1

CPU times: total: 3min 40s
Wall time: 6min 8s