In [1]:
# Connection
import sqlalchemy as db
import pandas as pd
from sqlalchemy import create_engine
import getpass

server = str(input("insert server: "))
database = str(input("insert database: "))

user_name = str(input("insert username: "))
password = getpass.getpass("insert password: ")

In [2]:
#Checks if the connection is successful or not
if __name__ == '__main__':
	try:
	
		#Creates the connection to the database
		engine = create_engine(f'mssql+pyodbc://{user_name}:{password}@{server}/{database}?driver=SQL+Server+Native+Client+11.0',fast_executemany=True)
		print(f"Connection to the {database} at {server} created successfully.")

	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection to the datavault at 172.29.4.147 created successfully.

In [3]:
%%time
query = "SET NOCOUNT ON; EXEC uspdst_GLActivity '01-001-1-23240', 5, '2022-12-02','2022-12-02'"
df = pd.read_sql_query(query, engine, chunksize=1000000)

c = 1

for a in df:
    
    a.to_csv(f'Gl_Activity_2022-12-2nd_{c}.csv',index=False)
    c = c + 1

CPU times: total: 1min 13s
Wall time: 27min 46s

In [ ]:
%%time
query = "SET NOCOUNT ON; EXEC uspdst_GLActivity '01-001-1-23240', 5, '2022-12-03','2022-12-04'"
df = pd.read_sql_query(query, engine, chunksize=1000000)

c = 1

for a in df:
    
    a.to_csv(f'Gl_Activity_2022-12-3rd_to_4th_{c}.csv',index=False)
    c = c + 1

In [ ]:
%%time
query = "SET NOCOUNT ON; EXEC uspdst_GLActivity '01-001-1-23240', 5, '2022-12-05','2022-12-05'"
df = pd.read_sql_query(query, engine, chunksize=1000000)

c = 1

for a in df:
    
    a.to_csv(f'Gl_Activity_2022-12-5th_{c}.csv',index=False)
    c = c + 1